<%= form_for @user do |f| %>

  <p>
    <%= f.label :fname, "First name:" %> <br>
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname, "Last name:" %> <br>
    <%= f.text_field :lname %>
  </p>
  <p>
    <% Team.all.each do |team| %>
      <%=
        check_box_tag(
          "user[team_ids][]",
          team.id,
          @user.team_ids.include?(team.id),
          :id => "team_membership_ids_#{team.id}"
        )
      %>

      <%= label_tag "team_membership_ids_#{team.id}", team.name %>
      <br>
    <% end %>
  </p>
  <p>
    <%= f.submit %> 
  </p>

<% end %>